/* PAGE 1 STYLING */
.page1 {
    position: relative;
    top: 0px;
    left: 0px;
}
/* PAGE 1 BACKGROUND IMAGE */
.a1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 900px;
}
/* LOGO */
.a2 {
    position: absolute;
    top: 70px;
    left: 70px;
}
/* NOODLES */
.a3 {
    position: absolute;
    top: 150px;
    left: 820px;
}
/* CHUTNEY */
.a4 {
    position: absolute;
    top: 580px;
    left: 660px;
}
/* TITLE */
.a5 {
    position: absolute;
    top: 220px;
    left: 70px;

    font-size: 92px;
    color: #ffffff;
    font-family: "Reey";
    filter: drop-shadow(0px 5px 2.5px rgba(84, 82, 79, 0.22));
}
/* SECOND TITLE */
.a6 {
    position: absolute;
    top: 420px;
    left: 70px;
    width: 469px;
    height: 65px;
    font-size: 25px;
    letter-spacing: 5px;
    color: #ffffff;
    font-weight: 700;
    font-style: italic;
    font-family: "Open Sans";
    text-align: center;
}
/* BUTTON TAG */
.b1 {
    position: absolute;
    top: 500px;
    left: 150px;
    font-size: 17px;
     background-color: #e6e9ed;
     color: #070808;
    font-weight: 900;
    font-family: "Open Sans";
    text-align: center;
    border-radius: 10px;
    border: #ffffff;
    text-decoration: none;
    height:30px;
    width: 120px;
    font:bolder;
    padding-top: 5px;
    
    
}

/* CONTENT PAGE 1 */
.b2 {
    position: absolute;
    top: 520px;
    left: 150px;
    width: 452px;
    height: 130px;
    font-size: 21px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
}
/* LEAVES */
.b3 {
    position: absolute;
    top: 535px;
    left: 952px;
}

/* NAVIGATION BAR */
.nav {
    position: absolute;
    top: 35px;
    padding-left: 600px;


}


#nav1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 10px;
    letter-spacing: 5px;
    
}

#nav2 {
    text-decoration: none;
    padding-left: 55px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: "Open Sans";
    font-size: 17px;
    letter-spacing: 5px;
    text-transform: uppercase;
   
}

#nav3 {
    text-decoration: none;
    padding-left: 75px;
    font-weight: 190px;
    font-family: "Open Sans";
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-left: 25px;
    color: rgb(255, 255, 255);
}

#nav4 {
    text-decoration: none;
    padding-left: 25px;
    font-weight: 700;
    font-family: "Open Sans";
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
   
}
/* BUTTON TAG */
.nav5 {
     width: 108px;
    height: 30px;
    top: 18%;
    left: 20%;
    padding-left: 55px;
    border-radius: 18px;
    border: #ffffff; 
    
    background-color: #f5ebeb;
}

/* FAVICON */
.search {
    height: 20px;
    width: 15px;
    padding-right: 45px;
    display: inline-block;
    position: absolute;
    top: 45%;
    padding-left: 15px;
    transform: translate(-50%, -50%);
}

/*PAGE 2 STYLING */
.page2 {
    position: relative;
    top: 0px;
    left: 0px;
}
/* PAGE 2 BACKGROUND IMAGE */
.c0 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 900px;
}
/* HEADING PAGE 2 */
.c1 {
    position: absolute;
    top: -27px;
    left: 400px;
    font-size: 75px;
    color: #222328;
    font-family: "Reey";
}
/* PAGE 2 CONTENT */
.c2 {
    position: absolute;
    top: 79px;
    left: 282px;
    width: 1008px;
    height: 150px;
    font-size: 27px;
    color: #2f3135;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}
/* SECOND HEADING */
.c3 {
    position: absolute;
    top: 180px;
    left: 630px;
}

.c4 {
    position: absolute;
    top: 183px;
    left: 1050px;
    height: 380px;
}

.c5 {
    position: absolute;
    top: 180px;
    left: 222px;
    height: 370px;
}

.c6 {
    position: absolute;
    top: 550px;
    left: 252px;
    font-size: 29px;
    color: #343434;
    font-weight: 700;
    font-family: "Open Sans";
}

.c7 {
    position: absolute;
    top: 550px;
    left: 652px;
    font-size: 29px;
    color: #343434;
    font-weight: 700;
    font-family: "Open Sans";
}

.c8 {
    position: absolute;
    top: 550px;
    left: 1102px;
    font-size: 29px;
    color: #343434;
    font-weight: 700;

    font-family: "Open Sans";
}

.c9 {
    position: absolute;
    top: 604px;
    font-size: 16px;
    color: #343434;
    font-weight: 400;
    font-family: "Open Sans";
    width: 200px;
    height: 20px;
    left: 252px;
}

.c10 {
    position: absolute;
    top: 604px;
    font-size: 16px;
    color: #343434;
    font-weight: 400;
    font-family: "Open Sans";
    width: 200px;
    height: 20px;
    left: 652px;
}

.c11 {
    position: absolute;
    top: 604px;
    font-size: 16px;
    color: #4b4949;
    font-weight: 400;
    font-family: "Open Sans";
    width: 200px;
    height: 20px;
    left: 1102px;
   
}

.c12 {
    position: absolute;
    color: #ffffff;
    top: 800px;
    left: 650px;
    width: 195px;
    height: 35px;
    border-radius: 38px;
    background-color: #343434;
    font-size: 14px; 
    padding-left: 54px;
    padding-bottom: 2px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 800;
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 5px;
    
}

.page3 {
    position: relative;
    top: 20%;
    left: 0px;
    height: 0%;
}

.d1 {
    position: absolute;
    top: 1800px;
    left: 455px;
    font-size: 75px;
    line-height: 52px;
    color: #ffffff;
    font-family: "Reey";
}

.d2 {
    position: absolute;
    top: 1950px;
    left: 355px;
    font-size: 24px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    width: 500px;
    height: 200px;

    font-family: "Montserrat";
}

.d3 {
    position: absolute;
    top: 1950px;
    left: 905px;
    font-size: 24px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    width: 500px;
    height: 200px;

    font-family: "Montserrat";
}

.d4 {
    position: absolute;
    top: 2250px;
    left: 680px;
    font-size: 17px;
    height: 40px;
    width: 250px;
    color: #070808;
    font-weight: 800;
    opacity: 0.902;
    font-family: "Montserrat";
    padding-top: 20px;
    text-align: center;
    border-radius: 27px;
    border: #ffffff;
    background-color: #fdfedfed;
    text-decoration: none;
}

.page4 {
    position: relative;
    top: 0px;
    left: 0px;
}

.e0 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 900px;
}

.e1 {
    position: absolute;
    height: 500px;
    top: 39px;
    left: 15%;
}

.e2 {
    position: absolute;
    top: 35px;
    left: 50%;
    font-size: 58px;
    color: #27292c;
    font-weight: 700;
    font-family: "Open Sans";
    width: 500px
}

.e3 {
    position: absolute;
    top: 225px;
    left: 50%;
    width: 640px;
    height: 175px;
    font-size: 29px;
    color: #27292c;
    font-weight: 400;
    font-family: "Open Sans";
}

.e4 {
    position: absolute;
    top: 450px;
    width: 204px;
    left: 50%;
    height: 45px;
    font-size: 18px;
    border-radius: 38px;
    background-color: #060606;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-decoration: none;
    padding-left: 25px;
    padding-top: 15px;
}

.e6 {
    position: absolute;
    top: 480px;
    width: 30%;
    right: 150px;
}

.e7 {
    position: absolute;
    top: 480px;
    left: 17%;
    font-size: 58px;
    color: #27292c;
    font-weight: 700;
    font-family: "Open Sans";
    width: 500px;
}

.e8 {
    position: absolute;
    top: 645px;
    left: 17%;
    width: 640px;
    height: 175px;
    font-size: 29px;
    color: #27292c;
    font-weight: 400;
    font-family: "Open Sans";
}

.e9 {
    position: absolute;
    top: 845px;
    width: 200px;
    left: 17%;
    height: 35px;
    font-size: 18px;
    border-radius: 38px;
    background-color: #060606;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-decoration: none;
    padding-left: 25px;
    padding-top: 15px;
    
}

.page5 {
    position: relative;
    top: 20%;
    left: 0px;
    height: 0%;
}

.g1 {
    position: absolute;
    top: 85px;
    font-size: 75px;
    letter-spacing: 5px;
    line-height: 21px;
    left: 290px;
    color: #fdf3f3;
    font-weight: 700;
    font-family: "Open Sans";
}

.g2 {
    position: absolute;
    top: 165px;
    left: 27%;
    width: 850px;
    height: 175px;
    font-size: 29px;
    color: #e6e9ed;
    font-weight: 400;
    display: inline-block;
    font-family: "Open Sans";
}

.g3 {
    position: absolute;
   
    display: inline;
    bottom: -225px;
    height:750px;
    left:30%;
    
}

.g4 {
    position: absolute;
    height: 294px;
    top: 811px;
    left: 24%;

}

.g5 {
    position: absolute;
    top: -70px;
    left: -20px;
    height: 550px;
    width: 1600px;
}

.page6 {
    position: relative;
    top: 0%;
    left: 0px;
    width:"100px" ;
    height:"100px";
}

.h1 {
    position: absolute;
    top: 330px;
    left: 10%;
    font-size: 42px;
    line-height: 33px;
    color: #393939;
    font-family: "Reey";
}

.h2 {
    position: absolute;
    top: 330px;
    left: 40%;
    font-size: 42px;
    line-height: 33px;
    color: #393939;
    font-family: "Reey";
}

.h3 {
    position: absolute;
    top: 330px;
    left: 70%;
    font-size: 42px;
    line-height: 33px;
    color: #393939;
    font-family: "Reey";
}

.h4 {
    position: absolute;
    top: 380px;
    left: 10%;
    font-size: 19px;
    line-height: 25px;
    color: #333d42;
    font-weight: 400;
    font-family: "Open Sans";
    width: 420px;
}

.h5 {
    position: absolute;
    top: 380px;
    left: 40%;
    font-size: 19px;
    line-height: 25px;
    color: #333d42;
    font-weight: 200;
    font-family: "Open Sans";
    width: 420px;
}

.h7 {
    position: absolute;
    top: 800px;
    left: 26%;
    font-size: 25px;
    line-height: 25px;
    color: #333d42;
    font-weight: 800;
    font-family: "Open Sans";
    width: 850px;
    text-align: center;
}

.h6 {
    position: absolute;
    top: 380px;
    left: 70%;
    width: 425px;
    height: 161px;
    font-size: 19px;
    color: #3f3f3f;
    font-weight: 200;
    font-family: "Open Sans";
   
   
}

.h8 {
    position: absolute;
    top: 1000px;
    left: 25%;
    width: 817px;
    height: 161px;
    font-size: 25px;
    color: #3f3f3f;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}

.page7 {
    position: relative;
    top: 1200px;
    left: 0px;
    height: 20%;
}

.i1 {
    position: absolute;
    top: 20px;
    left: 38%;
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}

.i2 {
    position: absolute;
    top: 120px;
    left: 25%;
    width: 850px;
    height: 010px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.i3 {
    position: absolute;
    top: 345px;
    width: 500px;
    left: 26%;
    height: 45px;
    font-size: 19px;
    border-radius: 38px;
    background-color: #fef6f6;
    letter-spacing: 5px;
    line-height: 21px;
   
    color: #594b4b;
    font-weight: 700;
    border: #fef6f6;
    font-family: "Open Sans";
    text-decoration: none;
    padding-left: 25px;

}

.i4 {
    position: absolute;
    top: 341.5px;
    width: 200px;
    left: 55%;
    height: 38px;
    font-size: 14px;
    border: #fef6f6;
    border-radius: 38px;
    background-color: #3a3535;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-family: "Open Sans";
    text-decoration: none;
    padding-left: 25px;
    padding-top: 15px;
}

.i5 {
    position: absolute;
    top: -170px;
    left: -5%;
    height: 900px;
    width: 1600px;
}

.page8 {
    position: relative;
    top: 1400px;
    left: 0px;
    height: 20%;
}

.j1 {
    position: absolute;
    top: 20px;
    left: 10%;
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.j2 {
    position: absolute;
    top: 20px;
    left: 58%;
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.j3 {
    position: absolute;
    top: 20px;
    left: 74.5%;
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.j4 {
    position: absolute;
    top: 20px;
    left: 90%;
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.j5 {
    position: absolute;
    top: 71px;
    left: 10%;
    right: 50px;
    ;
    width: 458px;
    height: 244px;
    font-size: 24px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.j6 {
    position: absolute;
    top: 81px;
    left: 56%;
    font-size: 24px;
    line-height: 42px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
ul{
    list-style: none;
}
.j7 {
    position: absolute;
    top: 81px;
    left: 72%;
    font-size: 24px;
    line-height: 42px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
ul{
    list-style: none;
}
.j8 {
    position: absolute;
    top: 81px;
    left: 88%;
    font-size: 24px;
    line-height: 42px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
ul{
    list-style: none;
}
.k1{
    position: absolute;
    top:180px;
    right: 1150px;
    
}
.insta{
    height:80px;
    width:80px;
}
.fb{
    height:80px;
    width:80px;
}
.twitter{
    height:80px;
    width:80px;
}
.watsapp{
    height:80px;
    width:80px;
}