/* PAGE 1 STYLING */
.page1 {
    position: relative;
    top: 0px;
    left: 0px;
}
/* PAGE 1 BACKGROUND IMAGE */
.a1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 900px;
}
/* LOGO */
.a2 {
    position: absolute;
    top: 70px;
    left: 70px;
}
@font-face {
    font-family: myFont;
    src: url(Reey-Regular.otf);
}
/* NOODLES */
.a3 {
    position: absolute;
    top: 150px;
    left: 820px;
}
/* CHUTNEY */
.a4 {
    position: absolute;
    top: 580px;
    left: 660px;
}
/* TITLE */
.a5 {
    position: absolute;
    top: 220px;
    left: 120px;
    
    font-size: 72px;
    color: #ffffff;
    font-family: myFont;
    filter: drop-shadow(0px 5px 2.5px rgba(84, 82, 79, 0.22));
}
/* SECOND TITLE */
.a6 {
    position: absolute;
    top: 420px;
    left: 70px;
    width: 469px;
    height: 65px;
    font-size: 25px;
    letter-spacing: 5px;
    color: #ffffff;
    font-weight: 700;
    font-style: italic;
    font-family: "Open Sans";
    text-align: center;
}
/* BUTTON TAG */
.b1 {
    position: absolute;
    top: 500px;
    left: 150px;
    font-size: 17px;
     background-color: #e6e9ed;
     color: #070808;
    font-weight:bolder;
    font-family: "Open Sans";
    text-align: center;
    border-radius: 10px;
    border: #ffffff;
    text-decoration: none;
    height:30px;
    width: 120px;
    font:bolder;
    padding-top: 5px;
    
    
}

/* CONTENT PAGE 1 */
.b2 {
    position: absolute;
    top: 520px;
    left: 150px;
    width: 452px;
    height: 130px;
    font-size: 21px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-family: "Open Sans";
}
/* LEAVES */
.b3 {
    position: absolute;
    top: 535px;
    left: 952px;
}

/* NAVIGATION BAR */
.nav {
    position: absolute;
    top: 35px;
    padding-left: 600px;


}


#nav1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Open Sans";
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 10px;
    letter-spacing: 5px;
    
}

#nav2 {
    text-decoration: none;
    padding-left: 55px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: "Open Sans";
    font-size: 17px;
    letter-spacing: 5px;
    text-transform: uppercase;
   
}

#nav3 {
    text-decoration: none;
    padding-left: 75px;
    font-weight: 700;
    font-family: "Open Sans";
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-left: 25px;
    color: rgb(255, 255, 255);
}

#nav4 {
    text-decoration: none;
    padding-left: 25px;
    font-weight: 700;
    font-family: "Open Sans";
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
   
}
/* BUTTON TAG */
#nav5 {
     width: 55px;
    height: 30px;
    top: 18%;
    left: 52%;
    padding-left: 25px;
    border-radius: 18px;
    border: #ffffff; 
    
    background-color: #f5ebeb;
}

/* FAVICON */
.search {
    height: 20px;
    width: 15px;
    padding-right: 45px;
    display: inline-block;
    position: absolute;
    top: 45%;
    padding-left: 15px;
    transform: translate(-50%, -50%);
}

/*PAGE 2 STYLING */
.page2 {
    position: relative;
    top: 0px;
    left: 0px;
}
/* PAGE 2 BACKGROUND IMAGE */
.c0 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 900px;
}
/* HEADING PAGE 2 */
.c1 {
    position: absolute;
    top: -18px;
    left: 400px;
    font-size: 55px;
    color: #222328;
    font-family: myFont;
}
/* PAGE 2 CONTENT */
.c2 {
    position: absolute;
    top: 92px;
    left: 282px;
    width: 1008px;
    height: 150px;
    font-size: 27px;
    color: #2f3135;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.c3 {
    position: absolute;
    top: 200px;
    left: 630px;
}

.c4 {
    position: absolute;
    top: 203px;
    left: 1050px;
    height: 380px;
}

.c5 {
    position: absolute;
    top: 200px;
    left: 222px;
    height: 370px;
}
/* SECOND HEADING */
.c6 {
    position: absolute;
    top: 550px;
    left: 252px;
    font-size: 29px;
    color: #343434;
    font-weight: 700;
    font-family: "Open Sans";
}
/* SECOND HEADING */
.c7 {
    position: absolute;
    top: 550px;
    left: 652px;
    font-size: 29px;
    color: #343434;
    font-weight: 700;
    font-family: "Open Sans";
}
/* SECOND HEADING */
.c8 {
    position: absolute;
    top: 550px;
    left: 1102px;
    font-size: 29px;
    color: #343434;
    font-weight: 700;

    font-family: "Open Sans";
}
/* SECOND CONTENT */
.c9 {
    position: absolute;
    top: 604px;
    font-size: 16px;
    color: #343434;
    font-weight: 400;
    font-family: "Open Sans";
    width: 200px;
    height: 20px;
    left: 252px;
}
/* SECOND CONTENT */
.c10 {
    position: absolute;
    top: 604px;
    font-size: 16px;
    color: #343434;
    font-weight: 400;
    font-family: "Open Sans";
    width: 200px;
    height: 20px;
    left: 652px;
}
/* SECOND CONTENT */
.c11 {
    position: absolute;
    top: 604px;
    font-size: 16px;
    color: #4b4949;
    font-weight: 400;
    font-family: "Open Sans";
    width: 200px;
    height: 20px;
    left: 1102px;
   
}
/* BUTTON */
.c12 {
    position: absolute;
    color: #ffffff;
    top: 800px;
    left: 650px;
    width: 195px;
    height: 35px;
    border-radius: 38px;
    background-color: #343434;
    font-size: 14px; 
    padding-left: 54px;
    padding-bottom: 2px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 800;
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 5px;
    
}
/* PAGE 3 STYLING */
.page3 {
    position: relative;
    top: 20%;
    left: 0px;
    height: 0%;
}
/* TITLE */
.d1 {
    position: absolute;
    top: 1850px;
    left: 455px;
    font-size: 60px;
    line-height: 52px;
    color: #ffffff;
    font-family: myFont;
}
/* CONTENT */
.d2 {
    position: absolute;
    top: 2000px;
    left: 355px;
    font-size: 24px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    width: 500px;
    height: 200px;

    font-family: "Montserrat";
}
/* CONTENT */
.d3 {
    position: absolute;
    top: 2000px;
    left: 905px;
    font-size: 24px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    width: 500px;
    height: 200px;

    font-family: "Montserrat";
}
/* BUTTON */
.d4 {
    position: absolute;
    top: 2250px;
    left: 680px;
    font-size: 17px;
    height: 40px;
    width: 250px;
    color: #070808;
    font-weight: 800;
    opacity: 0.902;
    font-family: "Montserrat";
    padding-top: 20px;
    text-align: center;
    border-radius: 27px;
    border: #ffffff;
    background-color: #ffffff;
    text-decoration: none;
}
/* PAGE 4 STYLING */
.page4 {
    position: relative;
    top: 0px;
    left: 0px;
}
/* IMAGE */
.e0 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 900px;
}
/* PASTA IMAGE */
.e1 {
    position: absolute;
    height: 400px;
    top: 39px;
    left: 15%;
}
/* TITLE */
.e2 {
    position: absolute;
    top: -45px;
    left: 50%;
    font-size: 58px;
    color: #27292c;
    font-weight: 700;
    font-family: "Open Sans";
    width: 500px
}
/* CONTENT */
.e3 {
    position: absolute;
    top: 140px;
    left: 50%;
    width: 640px;
    height: 175px;
    font-size: 25px;
    color: #27292c;
    font-weight: 400;
    font-family: "Open Sans";
}
/* BUTTON */
.e4 {
    position: absolute;
    top: 320px;
    width: 204px;
    left: 50%;
    height: 45px;
    font-size: 18px;
    border-radius: 38px;
    background-color: #060606;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-decoration: none;
    padding-left: 25px;
    padding-top: 15px;
}
/* PASTA IMAGE */
.e6 {
    position: absolute;
    top: 470px;
    width: 25%;
    right: 150px;
    height: 400px;
}
/* TITLE */
.e7 {
    position: absolute;
    top: 400px;
    left: 17%;
    font-size: 58px;
    color: #27292c;
    font-weight: 700;
    font-family: "Open Sans";
    width: 500px;
}
/* CONTENT */
.e8 {
    position: absolute;
    top: 605px;
    left: 17%;
    width: 640px;
    height: 175px;
    font-size: 25px;
    color: #27292c;
    font-weight: 400;
    font-family: "Open Sans";
}
/* BUTTON */
#e9 {
    position: absolute;
    top: 805px;
    width: 200px;
    left: 17%;
    height: 35px;
    font-size: 18px;
    border-radius: 38px;
    background-color: #060606;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-decoration: none;
    padding-left: 25px;
    padding-top: 15px;
    
}
/* PAGE 5 STYLING */
.page5 {
    position: relative;
    top: 20%;
    left: 0px;
    height: 0%;
}
/* TITLE */
.g1 {
    position: absolute;
    top: 85px;
    font-size: 55px;
    letter-spacing: 5px;
    line-height: 21px;
    left: 290px;
    color: #fdf3f3;
    font-weight: 700;
    font-family: myFont;
}
/* CONTENT */
.g2 {
    position: absolute;
    top: 165px;
    left: 27%;
    width: 850px;
    height: 175px;
    font-size: 29px;
    color: #e6e9ed;
    font-weight: 400;
    display: inline-block;
    font-family: "Open Sans";
}
/* PIZZA 3/4 */
.g3 {
    position: absolute;
   
    display: inline;
    bottom: -225px;
    height:750px;
    left:30%;
    
}
/* PIZZA SLICE */
.g4 {
    position: absolute;
    height: 294px;
    top: 811px;
    left: 24%;

}
/* LEAVES */
.g5 {
    position: absolute;
    top: -70px;
    left: -20px;
    height: 550px;
    width: 1600px;
}
/* PAGE 6 STYLING */
.page6 {
    position: relative;
    top: 0%;
    left: 0px;
    width:"100px" ;
    height:"100px";
}
/* TITLE */
.h1 {
    position: absolute;
    top: 330px;
    left: 13%;
    font-size: 42px;
    line-height: 33px;
    color: #393939;
    font-family: myFont;
}
/* TITLE */
.h2 {
    position: absolute;
    top: 330px;
    left: 43%;
    font-size: 42px;
    line-height: 33px;
    color: #393939;
    font-family: myFont;
}
/* TITLE */
.h3 {
    position: absolute;
    top: 330px;
    left: 73%;
    font-size: 42px;
    line-height: 33px;
    color: #393939;
    font-family: myFont;
}
 /* CONTENT */
.h4 {
    position: absolute;
    top: 395px;
    left: 10%;
    font-size: 19px;
    line-height: 25px;
    color: #333d42;
    font-weight: 600;
    font-family: "Open Sans";
    width: 420px;
}
 /* CONTENT */
.h5 {
    position: absolute;
    top: 395px;
    left: 40%;
    font-size: 19px;
    line-height: 25px;
    color: #333d42;
    font-weight: 600;
    font-family: "Open Sans";
    width: 420px;
}
 /* CONTENT */
.h7 {
    position: absolute;
    top: 800px;
    left: 26%;
    font-size: 25px;
    line-height: 25px;
    color: #333d42;
    font-weight: 800;
    font-family: "Open Sans";
    width: 850px;
    text-align: center;
}
 /* CONTENT */
.h6 {
    position: absolute;
    top: 400px;
    left: 70%;
    width: 425px;
    height: 161px;
    font-size: 19px;
    color: #3f3f3f;
    font-weight: 600;
    font-family: "Open Sans";
   
   
}
/* LOREM IPSUM */
.h8 {
    position: absolute;
    top: 1000px;
    left: 25%;
    width: 817px;
    height: 161px;
    font-size: 25px;
    color: #3f3f3f;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
}
/* PAGE 7 STYLING */
.page7 {
    position: relative;
    top: 1200px;
    left: 0px;
    height: 20%;
    
}
/* IMAGE */
#v1{
    z-index: -2;
}
/* TITLE */
.i1 {
    position: absolute;
    top: 20px;
    left: 38%;
    font-size: 75px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
}
 /* CONTENT */
.i2 {
    position: absolute;
    top: 120px;
    left: 25%;
    width: 850px;
    height: 010px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}
/* INPUT */
 #i3 {
    position: absolute;
    font-weight: 700;
    border: #fef6f6; 
    text-decoration: none;
    padding-left: 25px;
    width: 500px;
    height: 45px;
    top: 345px;
    left: 26%;
    color: #594b4b;
    font-family: "Open Sans";
    padding-left: 25px;
    border-radius: 18px;
    border: #ffffff; 
    font-weight: 700;
    background-color: #f5ebeb;
 

} 
/* SUBSCRIBE */
.i4 {
    position: absolute;
    top: 341.5px;
    width: 200px;
    left: 55%;
    height: 38px;
    font-size: 14px;

    border-radius: 38px;
    background-color: #3a3535;
    letter-spacing: 5px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-family: "Open Sans";
    text-decoration: none;
    padding-left: 25px;
    padding-top: 15px;
} 
/* IMAGE */
.i5{
    position: absolute;
    top:380px;
    height:250px;
    WIDTH:300px;
    left:1%;
}
/* IMAGE */
#i6{
    position: absolute;
    top:-95px;
    height:300px;
    width:400px;
    right:-5%;
}
/* PAGE 8 STYLING */
.page8 {
    position: relative;
    top: 1400px;
    left: 0px;
    height: 0%;
}
/* TITLE */
.j1 {
    position: absolute;
    top: 20px;
    left: 10%;
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
/* TITLE */
.j2 {
    position: absolute;
    top: 20px;
    left: 58%;
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
/* TITLE */
.j3 {
    position: absolute;
    top: 20px;
    left: 74.5%;
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
/* TITLE */
.j4 {
    position: absolute;
    top: 20px;
    left: 90%;
    font-size: 32px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
/* UL AND LI TAG */
.j5 {
    position: absolute;
    top: 71px;
    left: 10%;
    right: 50px;
    ;
    width: 458px;
    height: 244px;
    font-size: 24px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}

.j6 {
    position: absolute;
    top: 81px;
    left: 56%;
    font-size: 24px;
    line-height: 42px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
ul{
    list-style: none;
}
.j7 {
    position: absolute;
    top: 81px;
    left: 72%;
    font-size: 24px;
    line-height: 42px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
ul{
    list-style: none;
}
.j8 {
    position: absolute;
    top: 81px;
    left: 88%;
    font-size: 24px;
    line-height: 42px;
    color: #343434;
    font-weight: 400;
    font-family: "Montserrat";
}
ul{
    list-style: none;
}

#l1{
    text-decoration: none;
    color: #070808;
     height:40%;
   width:20%;
}
#l2{
    text-decoration: none;
    color: #070808;
}
#l3{
    text-decoration: none;
    color: #070808;
}
#l4{
    text-decoration: none;
    color: #070808;
}
#l5{
    text-decoration: none;
    color: #070808;
}
#p1{
    text-decoration: none;
    color: #070808;
}
#p2{
    text-decoration: none;
    color: #070808;
}
#p3{
    text-decoration: none;
    color: #070808;
}
#p4{
    text-decoration: none;
    color: #070808;
}
#p5{
    text-decoration: none;
    color: #070808;
}
#q1{
    text-decoration: none;
    color: #070808;
}
#q2{
    text-decoration: none;
    color: #070808;
}
#q3{
    text-decoration: none;
    color: #070808;
}
/* ICONS */
#id7{
    position: absolute;
    top:250px;
    right:1170px;
}
/* ICONS */
#id8{
    position: absolute;
    top:265px;
    right:1125px;
    border: solid;
    border-radius: 55px;
    width: 45px;
    height: 45px;
    border-color: #060606;
    background-color: #060606;
}
